<div class="container">
	<div id="userInfo">
		<h1 id="userName">{{userName}}</h1>
		<div>
			{{#if imgUrl}}
				<img id="profilePic" style="height:150px;border-radius:3px;" src="{{imgUrl}}">
			{{else}}
				<img id="profilePic" style="height:150px;border-radius:3px;" src="https://quinary-niume.scdn3.secure.raxcdn.com/pic/profile/default_profile.jpg">
			{{/if}}
		</div>
		<h3>About {{userName}}</h3>
		{{#if distance}}
		<p id="distance"><strong>Distance:</strong> {{distance}} miles</p>
		{{/if}}
		<p>You and {{userName}} have {{musicMatch}} taste in music.</p>
		<p><strong>Bio:</strong> {{bio}}</p>

		{{#if age}}<p><strong>Age:</strong> {{age}}</p>{{/if}}
		{{#if gender}}<p><strong>Gender:</strong> {{gender}}</p>{{/if}}
	</div>
	<div id="bands" style="display:none">
		{{#each bands}}
			<span class='image'>
				<img class='bandImg' src="{{this.artistImage}}">
				<div class='name'>{{this.name}}</div>
			</span>
		{{/each}}
	</div>

	<div id="messageBox">
		<input id="messageText" type=text>
	</div>
	<div id="overlay"></div>
	<div id="browsingButtons">
		<button class="btn btn-large btn-info"id="seeBands">See Bands</button>
		<button style="display:none" class="btn btn-large btn-info"id="hideBands">Hide Bands</button>
		<button id="sendMessage" class="btn btn-large">Send Message</button>
		<div id="messageSent" class="alert alert-success">Message Sent!</div>
		<button id="nextProfile" class="btn btn-large">Next Profile</button>
		<button id="cancelMessage" class="btn btn-large">Cancel Message</button>
	</div>
	
</div>
<style>
#cancelMessage,
#messageSent{
	display: none;
}
#messageBox{
	display: none;
	height: 150px;
}
#messageText{
	height: 135px;
	width: 90%;
}
.bandImg{
	height: 175px;
	width: 175px;
}
.image{
	position:relative;
	text-align:center;
	float: left;		
}
.name{
	display: none;
	color: black;
    left: 0;
	position:absolute;
	bottom: 80px;
	width: 100%;
	font-weight: bold;
	pointer-events:none;
}
.fade{
	opacity: .2;
}
.blackout{
	background-color: black;
	color: black;
}
@media (max-width: 600px) {
	#userInfo{
		padding-bottom: 45px;
		word-wrap: break-word;
	}
	#overlay {
		background:black;
		display:none;
		width:100vw;
		height:100vh;
		position:absolute;
		top:0; 
		left:0; 
		z-index:99;
	}
	.bandImg {
		height: 100px;
		width: 100px;
	}
	.name{
		bottom: 35px;
	}
	#browsingButtons{
		height:40px;
		left:0;
		background: linear-gradient(-45deg, purple, purple, indigo);
		position:fixed;
		bottom: 0vh;
		transform:translateY(-100%);
		width:100%;
		z-index:999;
	}	
	#bands{
		position:absolute;
		z-index: 100;
	}
}
</style>

<script>
var docHeigth = $(document).height();
var viewWidth = $(window).width();
var viewHeight = $(window).height();
var messageBox = $("#messageBox");
var cancelMessage = $("#cancelMessage");
var nextProfile = $("#nextProfile");
var sendMessage = $("#sendMessage");
var messageSent = $("#messageSent");
var seeBands = $("#seeBands");
var hideBands = $("#hideBands");
var bands = $("#bands");
var numBands = bands.children().length;
nextProfile.one('click', function(){
	$.ajax({
		method: "GET",
		url: "/next-profile",
		data: name,
		dataType: "text",
		success: function(name){
			console.log(name);
			window.location.href = name;
		}
	});
});
sendMessage.on('click', function(){
	if(messageBox.is(':visible')){
		//send the message
		var message = $("#messageText").val();
		var reciever = $("#userName").text();
		console.log(message);
		$.ajax({
			method: "POST",
			url: "/send-message",
			data: {
			"message" : message,
			"reciever" : reciever
			}
		}).done(function(response){
			console.log(response);
			messageBox.fadeOut();
			sendMessage.hide();
			messageSent.show();
		});
		cancelMessage.hide();
		nextProfile.show();
	}else{
		cancelMessage.show();
		nextProfile.hide();
		messageBox.show();
	}	
	cancelMessage.on('click', function(){
		messageBox.hide();
		$(this).hide();
		nextProfile.show();
	});
});
seeBands.click(function () {
	console.log(numBands);
	if(numBands<13){
		$('#overlay').css("height",docHeigth).fadeIn(300);
		$('#bands').css("bottom", 100);
	}
	if(13<numBands<15){
		$('#overlay').css("height",docHeigth).fadeIn(300);
		$('#bands').css("bottom", 0);
	}
	if(numBands>15){
		console.log("more than 15 bands");
		$('#overlay').css("height",docHeigth+200).fadeIn(300);
		$('#bands').css("bottom", -125);
	}
	bands.css("width", viewWidth-60);
	bands.slideToggle({
      direction: "up"
    }, 500);
    $(this).hide();
	hideBands.show();
	//$("div").not($(".name")).addClass("blackout");
	//$("#profilePic").hide();
	$(".name").css("color", "white");	
  }); 
hideBands.click(function(){
	$('#overlay').fadeOut(500);
	bands.slideToggle({
      direction: "down"
    }, 300);
	$(this).hide();
	seeBands.show();
});
$(document).on("mouseenter", "img.bandImg", function(){
	$(this).addClass("fade").siblings().show();
});
$(document).on("mouseleave", "img.bandImg", function(){
	$(this).removeClass("fade").siblings().hide();
});
</script>