
<div id="content">
	<div id="writtenContent">
		<h1 id="userName">{{userName}}</h1>
		<div>
			{{#if imgUrl}}
				<img id="profilePic" style="height:150px;border-radius:3px;" src="{{imgUrl}}">
			{{else}}
				<img id="profilePic" style="height:150px;border-radius:3px;" src="https://quinary-niume.scdn3.secure.raxcdn.com/pic/profile/default_profile.jpg">
			{{/if}}
		</div>
		<h3>About {{userName}}</h3>
		{{#if distance}}
		<p id="distance"><strong>Distance:</strong> {{distance}} miles</p>
		{{/if}}
		<p>You and {{userName}} have {{musicMatch}} taste in music.</p>
		<p><strong>Bio:</strong> {{bio}}</p>

		{{#if age}}<p><strong>Age:</strong> {{age}}</p>{{/if}}
		{{#if gender}}<p><strong>Gender:</strong> {{gender}}</p>{{/if}}
	</div>

<div id="images">  
	{{#each bands}}
    <span class="image">
		<img src="{{this.artistImage}}">
		<span class='name'>{{this.name}}</span>
    </span>
	{{/each}}
</div>
   <div id="messageBox" style="display:none;">
		<textarea></textarea>
   </div>
</div>

<div class="nav" id="bottomNav">
	<div id="bottomButtonGroup">
		<span id="primary">
			<span class="bottomNavButton" id="showImages">Show Bands</span>
			<span class="bottomNavButton" id="message">Message</span>
			<span class="bottomNavButton" id="messageSent" style="display:none;">Message Sent!</span>
			<span class="bottomNavButton" id="nextProfile">Next Profile</span>
		</span>
		<span id="secondary" style="display:none;">
			<span class="bottomNavButton" id="sendMessage">Send Message</span>
			<span class="bottomNavButton" id="cancelMessage">Cancel Message</span>
		</span>
	</div>
</div>
<style>
.nav{
	height:8vh;
	background: linear-gradient(-45deg, purple, purple, indigo);
	color: white;
	font-family: helvetica;
	font-size: 20px;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 999;
}
#topNav{
	top: 0vh;
}
#bottomNav{
	bottom: -8.1vh;
	transform:translateY(-100%);
	width:100%;
}
#content{
	padding-bottom:8vh;
}
#images{
	display:none;
	z-index:100;
	bottom:0;
	text-align:center;
}
#images .image{
	display: inline-block;
	position:relative;
	text-align:center;
}
#images span img{
	height: 100px;
	width: 100px;
}
#bottomButtonGroup{
	font-size: .75em;
	border-right: 1px solid white;
	text-align: center;
	height:100%;
}
.bottomNavButton{
	text-align: center;
	height: 100%;
	width: 32%;
	display: inline-block;
	color: white;
    padding-top:2vh;
}
#message{
	border-left: 1px solid white;
	border-right: 1px solid white;
}

#messageBox{
  position:fixed;
  bottom: 6.7vh;
  width:98.2%;
  left:0;
  border: 2px solid purple;
  background: purple;
  z-index:100;
}
#messageBox textarea{
  resize: none;
  width:98%;
  height: 30vh;
}
#secondary .bottomNavButton{
	width: 48%;
}
#sendMessage{
  border-right: 1px solid white;
}
#messageSent{
	border-left: 1px solid white;
	border-right: 1px solid white;	
	background:lightseagreen;
	color: darkgreen;
}
.blackout{
	background-color: black;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.name{
	display: none;
	color: white;
	left: 0;
	position:absolute;
	width: 100%;
	font-weight: bold;
	pointer-events:none;
	bottom: 50%;
	text-align: center;
	transform: translateY(50%)
}
.fade{
	opacity: .2;
}
</style>

<script>var showImages = $("#showImages");
var hideImages = $("#hideImages");
var images = $("#images");
var overlay = $("#overlay");
var docHeight = $(document).height();
var writtenContent = $("#writtenContent");
var counter = 0;
var messageBox = $("#messageBox");
var message = $("#message");
var nextProfile = $("#nextProfile");
var cancelMessage = $("#cancelMessage");
var sendMessage = $("#sendMessage");
var messageSent = $("#messageSent");
nextProfile.one('click', function(){
	$.ajax({
		method: "GET",
		url: "/next-profile",
		data: name,
		dataType: "text",
		success: function(name){
			console.log(name);
			window.location.href = name;
		}
	});
});
showImages.click(function(){
	counter++;
	$(this).html("Show Bands");
	if(counter%2 > 0) $(this).html("Hide Bands");
	$("body").toggleClass("blackout", 300);
	images.slideToggle({
		direction: "up"
	}, 600);
	writtenContent.slideToggle({
		direction: "up"
	}, 600);
});
message.click(function(){
	$("#primary").fadeToggle("fast");
	$("#secondary").fadeToggle("fast");
	messageBox.slideToggle({
		direction: "up"
	}, 600);
});
cancelMessage.click(function(){
	$("#primary").fadeToggle("fast");
	$("#secondary").fadeToggle("fast");
	messageBox.slideToggle({
		direction: "up"
	}, 600);
});
sendMessage.one('click', function(){
	var content = $("#messageBox textarea").val();
	var reciever = $("#userName").text();
	$.ajax({
		method: "POST",
		url: "/send-message",
		data: {
		"message" : content,
		"reciever" : reciever
		}
	}).done(function(response){
		$("#primary").fadeToggle("fast");
		$("#secondary").fadeToggle("fast");
		messageBox.slideToggle({
			direction: "up"
		}, 600);
		message.hide();
		messageSent.show();
	});
});
$(document).on("mouseenter", "#images .image img", function(){
	$(this).addClass("fade").siblings().show();
});
$(document).on("mouseleave", "#images .image img", function(){
	$(this).removeClass("fade").siblings().hide();
});
</script>